<h1>Properties</h1>
<form action='/properties/new' method='get'>
    <input type="submit" value="List new property" />
</form>
<form action='/sessions/destroy' method='post'>
    <input type="submit" value="Log out" />
</form>
