<% if @user_id %>
  <form action='/properties' method='POST'>
    <input type='text' name='name'>
    <input type='text' name='description'>
    <input type='number' step='1' name='price'>
    <input type='submit' value='Submit'>
  </form>
<% end %>