<h1> Dates </h1>

<ul>
  <% @dates.each do |day| %>
    <li>
      <%= day.date.strftime("%d/%m/%Y") %>:
      <% if day.available? == true %>
        Available
      <% else %>
        Not available
      <% end %>
    </li>
  <% end %>
<ul>