<h1> Dates </h1>

<ul>
  <% @dates.each do |day| %>
    <li class='book'>
      <%= day.date.strftime("%d/%m/%Y") %>:
      <% if day.available? == true %>
        Available <form action='/property/<%= day.id %>' method='post'>
                    <input type='submit' value='Book'>
                  </form>
      <% else %>
        Not available
        <br><br>
      <% end %>
    </li>
  <% end %>
<ul>